<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="refresh()">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Get Started</h4>
      </div>

      <div class="modal-body">
        <%= render :partial =>'loginform', :controller => 'auths', :action => 'create' %>
        <%= render :partial =>'signupform', :controller => 'auths', :action => 'new' %><br />
        <%= session[:user_id]  %><br />
        <%#= current_user.id  %>
        <div id="get_started">
          <a onclick="login()">Login</a> or 
          <a onclick="signUp()">Sign Up</a>
          <br /><br />
          <%= link_to "Sign in with Facebook", "/auth/facebook" %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="refresh()">Close</button>
      </div>
    </div>
  </div>
</div>