<div class="row">
	<div class="first-stripe col-xs-12 col-sm-12 col-md-8 col-lg-8">
		
			<p class="featured-label">Featured Bouts</p>
		
			<!-- CAROUSEL -->
				<div id="carousel" class="carousel slide" data-ride="carousel">
				  <!-- Indicators -->
				  <ol class="carousel-indicators">
				    <li data-target="#carousel" data-slide-to="0" class="active"></li>
				    <li data-target="#carousel" data-slide-to="1"></li>
				    <li data-target="#carousel" data-slide-to="2"></li>
				  </ol>

				  <!-- Wrapper for slides -->
				  <div class="carousel-inner">
				    <div class="item active">
				    	<div class="featured glyphicon glyphicon-user col-xs-12 col-sm-12 col-md-5 col-lg-5"></div>
				    	<div class="vs col-xs-12 col-sm-12 col-md-2 col-lg-2">VS</div>
				    	<div class="featured glyphicon glyphicon-user col-xs-12 col-sm-12 col-md-5 col-lg-5"></div>
				    </div>
				    <div class="item">
				    	<div class="featured glyphicon glyphicon-user col-xs-12 col-sm-12 col-md-5 col-lg-5"></div>
				    	<div class="vs col-xs-12 col-sm-12 col-md-2 col-lg-2">VS</div>
				    	<div class="featured glyphicon glyphicon-user col-xs-12 col-sm-12 col-md-5 col-lg-5"></div>
				    </div>
				    <div class="item">
				    	<div class="featured glyphicon glyphicon-user col-xs-12 col-sm-12 col-md-5 col-lg-5"></div>
				    	<div class="vs col-xs-12 col-sm-12 col-md-2 col-lg-2">VS</div>
				    	<div class="featured glyphicon glyphicon-user col-xs-12 col-sm-12 col-md-5 col-lg-5"></div>
				    </div>
				  </div>

				  <!-- Controls -->
				  <a class="left carousel-control" href="#carousel" data-slide="prev">
				    <span class="glyphicon glyphicon-chevron-left"></span>
				  </a>
				  <a class="right carousel-control" href="#carousel" data-slide="next">
				    <span class="glyphicon glyphicon-chevron-right"></span>
				  </a>
				</div>

	<!-- END OF CAROUSEL -->
	</div>
	<div class="first-stripe col-xs-12 col-sm-12 col-md-4 col-lg-4">
		<!-- Eventually will be a Slider -->
		<!-- content for slider -->
		<p class="featured-label">Upcoming Bouts</p>
		<div>
		  <div class="upcoming">
				<p class="upcoming-label">(Name of Topic): Date and Time</p>
		  	<div class="upcoming-contestant glyphicon glyphicon-user col-xs-12 col-sm-12 col-md-5 col-lg-5"></div>
		  	<div class="upcoming-vs col-xs-12 col-sm-12 col-md-2 col-lg-2">VS</div>
		  	<div class="upcoming-contestant glyphicon glyphicon-user col-xs-12 col-sm-12 col-md-5 col-lg-5"></div>
		  </div>
		  <div class="upcoming clear">
				<p class="upcoming-label">(Name of Topic): Date and Time</p>
		  	<div class="upcoming-contestant glyphicon glyphicon-user col-xs-12 col-sm-12 col-md-5 col-lg-5"></div>
		  	<div class="upcoming-vs col-xs-12 col-sm-12 col-md-2 col-lg-2">VS</div>
		  	<div class="upcoming-contestant glyphicon glyphicon-user col-xs-12 col-sm-12 col-md-5 col-lg-5"></div>
		  </div>
		</div>
	</div>
</div>

<!-- END OF slider -->
<!-- second stripe -->
<div class="row second-stripe">
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<!-- Eventually will be a Slider -->
		<!-- content for slider -->
		<p class="featured-label">Past Bouts</p>
		<div>
		  <div class="upcoming">
				<p class="upcoming-label">(Name of Topic): Date and Time</p>
		  	<div class="upcoming-contestant glyphicon glyphicon-user col-xs-12 col-sm-12 col-md-5 col-lg-5"></div>
		  	<div class="upcoming-vs col-xs-12 col-sm-12 col-md-2 col-lg-2">VS</div>
		  	<div class="upcoming-contestant glyphicon glyphicon-user col-xs-12 col-sm-12 col-md-5 col-lg-5"></div>
		  </div>
		  <div class="upcoming clear">
				<p class="upcoming-label">(Name of Topic): Date and Time</p>
		  	<div class="upcoming-contestant glyphicon glyphicon-user col-xs-12 col-sm-12 col-md-5 col-lg-5"></div>
		  	<div class="upcoming-vs col-xs-12 col-sm-12 col-md-2 col-lg-2">VS</div>
		  	<div class="upcoming-contestant glyphicon glyphicon-user col-xs-12 col-sm-12 col-md-5 col-lg-5"></div>
		  </div>
		</div>
	</div>

	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<!-- Eventually will be a Slider -->
		<!-- content for slider -->
		<div class="create_bout">
				<button class="">HASH IT OUT</button>
		</div>
	</div>
</div>
