// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



form {
	margin: 50px;
	text-align: left;
}

input {
	margin: 5px;
}

.form_button a {
	text-decoration: none;
	color: black;
}

.second-stripe {
	margin: 10px auto;
	float: left;
}

.create_bout {
	text-align: center;
	vertical-align: middle;
}

#login, #signup {
	display: none;
}